<h1>Coaching#ask</h1>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="input" placeholder="what time is it?">
  <input type="submit" value="Go on!">

</form>


<h3> <%= "#{@input}" %> </h3>

